<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>

<ion-toolbar no-border-top>
  <ion-searchbar placeholder="Recherche" [(ngModel)]="query" (ionInput)="getItems()"></ion-searchbar>
</ion-toolbar>
</ion-header>


<ion-content padding>



<ion-list>
  <ion-item *ngIf="!(liste | async)?.length">
    Aucun résultat
  </ion-item>
  <!-- <ion-item *ngIf="!this.query; else elseBlock"> No result </ion-item>
  <ng-template #elseBlock> -->
  <button ion-item (click)="push(item)" *ngFor="let item of liste | async">
    <ion-thumbnail item-start>
      <img [src]="'https://image.tmdb.org/t/p/w92/'+item.poster_path">
    </ion-thumbnail>
    <h2>{{item.title}}</h2>
    <p>{{item.overview}}</p>
    <!-- <button ion-button clear item-end (click)="push(item)">View</button> -->
  </button>
  <!-- </ng-template> -->
</ion-list>
</ion-content>
